{% extends 'vulnerable/base.html' %}
{% block content %}
{% block title %}
<title>Sensitive Data Exposure</title>
{% endblock %}
<div class="container p-5 my-3 border">
<div class="content">
    <h3>Sensitive Data Exposure</h3>
    <div class="box">

        <div class="lab">
              <p class="bp">
                  <p class="bp">
                    Sensitive Data Exposure ranjivost javlja se kada web aplikacija ne štiti na odgovarajući način osjetljive podatke od otkrivanja. 
                    Osjetljivi podaci mogu biti podaci o bankovnim računima ali i tokeni sesije ili druge vjerodajnice za provjeru autentičnosti.
                    U ovom primjeru ranjivost je nastala zbog toga što je u Djangovoj konfiguraciji ostao DEBUG = True, zbog kojeg se umjesto mistificirane
                    error pogreške prikazuje cijela konfiguracijska datoteka sa svim ranjivim informacijama (session id, token, itd.).
        
                </p>
                </p>
              <br>
                <div> <button class="btn btn-danger" type="button" onclick="window.location.href='/data_exp_lab'">Try vulnerability</button>
                 <button class="btn btn-success" type="button" onclick="location.href='https://site-with-vulnerabilities1.herokuapp.com/data_exp_lab'">Safe site</button></div>
              </p>
        </div>
    </div>
</div>
</div>


{% endblock %}